<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/register.css">
    <link rel="stylesheet" href="Css/home.css">

    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>
    <header>
        <div class="logo_barra">
            <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo"></a>
            <div><input type="text"><i class="fas fa-search"></i></div>
        </div>
        <p class= 'compra' href="#">comprá a cuotas sin tarjeta de credito</p>
        <nav>
                <div><i class="fa-solid fa-bars"></i></div>
        </nav>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="post">
            <div class="personales">
                <label>Datos personales</label>
                <input type=" text" placeholder="Nombre y apellido">
                <input type=" text" placeholder="Nombre de usuario">
                <input type=" email" placeholder="E-mail">
            </div>
            <div class="personales">
                <label>Fecha de nacimiento</label>
                <input type=" date" name="fecha" max="05/02/2022" value="05/02/2022">
                <input type=" text" placeholder="Domicilio">
                
            </div><div class="personales ">
                <label>Fecha de nacimiento</label>
                <div class="horizontal">
                    <section class="radios">
                        <input type="radio" name="selection" value="comprador" id="comp">
                        <label for="comp"> comprador</label> 
                    </section>
                    <section class="radios">
                        <input type="radio" name="selection" value="vendedor" id="vend">
                        <label for="vend"> vendedor</label> 
                    </section>

                </div>
            </div>


        </form>
    </main>
</body>
</html>